.unis__info__top > * {
  margin-top: 31px;
}
.unis__foto {
  position: relative;
  img {
    width: 100%;
    border-radius: 20px;
    height: 340px;
    object-fit: cover;
  }
  .rating {
    position: absolute;
    left: 28px;
    top: 28px;
    display: flex;
    img {
      margin-right: 6px;
      width: 14px;
      height: 14px;
    }
  }
}

.unis__description {
  h3 {
    text-align: start;
    font-size: 24px;
    line-height: 30px;
    color: #313131;
  }
  .unis__text {
    color: #7a7a7a;
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    text-indent: 15px;
    margin-bottom: 25px;
    p{
      margin-bottom: 10px;
    }
  }
}
.unis__data {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(119, 205, 255, 0.3);
  border-radius: 20px;
  padding: 13px;
  .unis__data__list {
    background: #ffffff;
    border: 1px dashed #e2edf3;
    border-radius: 20px;
    margin-bottom: 0;
    padding: 0;
  }
}
.button-whith-icon {
  margin-top: -24px;
  min-width: 65%;
}
.unis__data__item {
  padding: 13px;
  .unis__data__inner {
    display: flex;
    text-align: start;
    .title {
      width: 41%;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: #98b6c9;
    }
    .data {
      width: 59%;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #7a7a7a;
    }
  }
}
#unis__data__item1 {
  background: #f8fcff;
  border-radius: 20px 20px 0px 0px;
}
#unis__data__item2 {
  background: #ffffff;
}
#unis__data__item3,
#unis__data__item5 {
  background: #f8fcff;
}
.unis__info__bottom {
  & > * {
    margin-top: 60px;
  }
  .document__box__inner {
    h3 {
      color: #313131;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      max-width: 270px;
      margin: 0 auto;
    }
    .document__list {
      margin-top: 15px;
      .document__item {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #7a7a7a;
        position: relative;
        left: 28px;
        margin-bottom: 8px;
        &::before {
          content: "";
          background-image: url(../img/tick.png);
          display: block;
          width: 20px;
          height: 20px;
          bottom: 0;
          position: absolute;
          left: -26px;
        }
      }
    }
  }
}
.studi__directions {
  margin-top: 60px;
  h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #313131;
  }
}
.questions-item {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
}
.unis h2 {
  margin-top: 0;
}
.speciality__row > * {
  margin-bottom: 10px;
}
.unis .unis__name{
  margin-top: 35px;
}

// Секция gallery
.gallery {
  margin-top: 134px;
  h3 {
    color: #313131;
    font-size: 24px;
    line-height: 30px;
  }
}
.swiper {
  max-width: 850px;
  width: 100%;
  max-height: 477px;
  border-radius: 20px;
}
.swiper-slide{
  img{
    max-width: 850px;
    width: 100%;
    max-height: 477px;
    border-radius: 20px;
  }
}
.swiper-pagination-bullet{
  transition: .3s ease all;
}
.swiper-pagination-bullet-active{
  background: #68c7ff;
}
.swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: -50px;
}
.swiper__box{
  position: relative;
  margin-bottom: 70px;
}
.swiper-button-next:after{
  content: '';
  background-image: url(../../img/ui/arr-right.png);
  width: 52px;
  height: 52px;
  background-repeat: no-repeat;
  position: absolute;
}
.swiper-button-next:hover::after{
  background-image: url(../../img/ui/arr-right-hover.png);
}
.swiper-button-next:active::after{
  background-image: url(../../img/ui/arr-right-active.png);
}

.swiper-button-prev:after{
  content: '';
  background-image: url(../../img/ui/arr-left.png);
  width: 52px;
  height: 52px;
  background-repeat: no-repeat;
  position: absolute;
}
.swiper-button-prev:hover::after{
  background-image: url(../../img/ui/arr-left-hover.png);
}
.swiper-button-prev:active::after{
  background-image: url(../../img/ui/arr-left-active.png);
}
@media(max-width:991px){
  .swiper-button-prev, .swiper-button-next{
    display: none;
  }
}